<h1>Words</h1>

<% if @words.any? %>
    <% @words.each do |item| %>
      <h2><%= item.name %></h2>
      <h2><%= item.id %></h2>
      <form action="/words/<%= item.id %>" method="post">
      <input name="_method" type="hidden" value="delete">
<button type ='submit' class ='btn-danger'>Delete The Word</button>
</form>
<button href ='/definitions/<%= item.id %>/update' class ='btn-primary'>Update The Word</button>
              <form action="/definition/<%= item.id %>" method="post">
              <br>
              <div class="form-group">
                <label for="">Definition</label>
                <input type="text"
                  class="form-control" name="definition" aria-describedby="helpId2" placeholder="">
                <small id="helpId2" class="form-text text-muted">Enter  the extra definition here.</small>
              </div>
                        <button type="submit" class="btn btn-primary btn-md btn-block">Add a definition</button>
          </form>
    <% end %>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>
<a href="/words/new/">Add a new word</a>
